<h1> Welcome to my Twitter profile! </h1>
<div class="profile">
  <h1> Aaron </h1>
  <h2> I attempt to code ruby for points </h2>
<p> I want to learn Ruby on Rails to get points for this assignment </p>
  <a href="http://twitter.com/asterld"> My Twitter! </a>
</div>
 <img src="Whoa.JPG" />