<h1> Aaron Daniels </h1>
<img src="my_pic.jpg" />
<h2> I attempt to code ruby for points </h2>
<p> I want to learn Ruby on Rails to get points for this assignment </p>
<a href="http://twitter.com/asterld"> My Twitter! </a>